* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding: 10px;
  list-style: none;
}

li {
  border: 1px solid;
  height: 50px;
  padding: 10px;
  margin-bottom: 15px;
}

li:last-of-type {
  margin-bottom: 0;
}

li:hover {
  background: green;
  color: #fff;
  cursor: pointer;
}

.footer {
  text-align: center;
}

.footer>button {
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
  border: 1px solid green;
  color: green;
  cursor: pointer;
}

.footer p {
  font-size: 16px;
  color: green;
}

.ct {
  margin: 10px;
}